In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
df=pd.read_excel("C:\Raju\cust_data.xlsx")
df.head()

,Cust_ID,Gender,Orders,Jordan,Gatorade,Samsung,Asus,Udis,Mondelez International,Wrangler,...,LG,Dior,Scabal,Tommy Hilfiger,Hollister,Forever 21,Colavita,Microsoft,Jiffy mix,Kraft
0,1,M,7,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,F,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,3,M,7,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,F,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,NaN,10,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,1,1

In [29]:
#Total orders placed

df["Orders"].sum(axis=0)

125094

In [ ]:
#Segregating the brands into three sections: FASHION, ELECTRONICS, FOOD PRODUCTS

In [16]:
#FASHION
df1=df[["Jordan","Wrangler","Vans","Fila","H&M","Brooks","Fendi","Asics","Dior","Tommy Hilfiger","Burberry","Scabal","Hollister","Forever 21"]]
df1.head()

,Jordan,Wrangler,Vans,Fila,H&M,Brooks,Fendi,Asics,Dior,Tommy Hilfiger,Burberry,Scabal,Hollister,Forever 21
0,0,0,2,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,1,0,6,0,0,0
2,0,0,0,0,0,0,0,2,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,0,0,1,2,0,0

In [15]:
df11=df1.sum(axis=0)
df11.sort_values(ascending=False)

Burberry          12841
Scabal            11102
H&M                9846
Asics              9007
Dior               8134
Jordan             8023
Tommy Hilfiger     4769
Fendi              4244
Brooks             4204
Vans               3343
Wrangler           3208
Fila               2828
Hollister          2330
Forever 21         1720
dtype: int64

In [17]:
#ELECTRONICS
df2=df[["Samsung","Asus","Hewlett Packard","Siemens","Huawei","Compaq","IBM","Mi","LG","Microsoft","Juniper"]]

In [20]:
df22=df2.sum(axis=0)
df22.sort_values(ascending=False)

Juniper            14125
Huawei              7740
Samsung             6688
Asus                4840
Hewlett Packard     4833
Mi                  3640
Compaq              3563
Microsoft           3491
LG                  3076
Siemens             1442
IBM                  959
dtype: int64

In [21]:
#FOOD PRODUCTS
df3=df[["Gatorade","Udis","Mondelez International","Dairy Queen","Pladis","J.M. Smucker","Pop Chips","Colavita","Jiffy mix","Kraft"]]
df3.head()

,Gatorade,Udis,Mondelez International,Dairy Queen,Pladis,J.M. Smucker,Pop Chips,Colavita,Jiffy mix,Kraft
0,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,2,2,0,0,0
2,1,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0
4,0,0,0,1,5,3,0,0,1,1

In [22]:
df33=df3.sum(axis=0)
df33.sort_values(ascending=False)

J.M. Smucker              22644
Gatorade                   7570
Pop Chips                  7437
Dairy Queen                6280
Colavita                   5766
Udis                       4306
Mondelez International     4193
Pladis                     3183
Jiffy mix                  2641
Kraft                      2127
dtype: int64

In [23]:
df11.sum(axis=0)

85599

In [25]:
df22.sum(axis=0)

54397

In [26]:
df33.sum(axis=0)

66147

In [ ]:
#Top 3 searched brands in FASHION:
#(i)Burberry
#(ii)Scabal
#(iii)H&M

In [ ]:
#Top 3 searched brands in ELECTRONICS:
#(i)Juniper
#(ii)Huawei
#(iii)Samsung

In [ ]:
#Top 3 searched brands in FOOD PRODUCTS:
#(i)J.M. Smucker
#(ii)Gatorade
#(iii)Pop Chips

In [ ]:
# 41.52% of the customers searched for FASHION related products.

# 32.08% of the customers searched for FOOD PRODUCTS.

# 26.38% of the customers searched for ELECTRONICS.

In [ ]:
#Conversion rate= 60.68%
#The amount of orders placed with respect to the searches in the website.